body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background: #111;
    color: white;
    padding: 40px 0;
}

nav {
    background: #333;
    padding: 15px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 40px 20px;
}

h2 {
    color: #222;
}

footer {
    background: #111;
    color: white;
    padding: 20px;
}
